<!-- FIXME: Inherit colors from app.variables.scss or separate css in component -->
<ion-item-sliding>
  <ion-item [style.background]="(!expanded) ? '#ffffff' : '#f4f4f4'">
    <ion-icon name="{{activity.icon}}" item-left></ion-icon>
    <h3>{{activity.name}}</h3>
    <p>{{activity.delta_time|timeFormat}}</p>
    <ion-icon [name]="(!expanded) ? 'ios-arrow-forward' : 'ios-arrow-down'" item-right></ion-icon>
  </ion-item>
  <ion-item-options>
    <button danger (click)="openMenu()" [disabled]="activity.default">
      <ion-icon name="trash"></ion-icon>
      Delete
    </button>
    <button primary (click)="editActivity($event)" [disabled]="activity.default">
      <ion-icon name="ios-more"></ion-icon>
      Edit
    </button>
    <button secondary (click)="activityTapped($event, activity)">
      <ion-icon name="ios-play"></ion-icon>
      Start
    </button>
  </ion-item-options>
</ion-item-sliding>
