.timer.button {
  box-sizing: border-box;
  color:#fff;
  background:#aa0055;
  border-radius: 50%;
  text-align: center;
}

.timer.clock {
  box-sizing: border-box;
  font-size: 2em;
  text-align: center;
  margin: 50px auto;
  width: 250px;
  padding-top: 105px;
  height: 250px;
  border:3px solid #fff;
  color:#fff;
  border-radius: 50%;
  transition: 1s ease;
}

.timer.clock .time{
  height:1em;
  font-size:1em;
  overflow: hidden;
  position: relative;
}

.timer.clock.reset .time {
  animation: reset-clock 1s ease;
}

@keyframes reset-clock {
  0% {
    opacity: 1;
    top: 0;
    font-size: 1em;
  }
  50% {
    opacity: 0;
    top: 50px;
    font-size: 0.5em;
  }
  51% {
    opacity: 0;
    top: -50px;
    font-size: 1em;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.timer.clock.running {
  border-color: rgb(0, 210, 84);
}

.log-list {
  max-height: 300px;
  width: 300px;
  margin: 0 auto;
  background: none;
  overflow-y: hidden;
  border:0px !important;
}

.log {
  color: hsl(262, 24%, 61%);
  background: none;
  border:0px !important;
}

.log .label {
  float: left;
}

.log .time {
  float: right;
}

.content{
  padding: 100px;
  background:#110055;
}

.fade-in{
  animation: fade-in 1s ease;
}

@keyframes fade-in {
  from{opacity:0;}
  to{opacity:1;}
}

.timer-toolbar .toolbar-title, .timer-toolbar .back-button {
  color: #fff;
}

.timer-toolbar .toolbar-background {
  background-color: #110055;
}
